
<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/js/form_validation.js"></script>
<script type="text/javascript" src="/js/highlight.js"></script>

<title>익명 게시판</title>
<h1>익명 게시판에 오신 것을 환영합니다!</h1>
